<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" ng-click="cancel()">&times;</button>
      <h4 class="modal-title">Modify a Product</h4>
    </div>
    <div class="modal-body">
		<form name="modalForm" class="form-horizontal">
			<fieldset>			
				<!-- Row 1 -->
				<div class="row">
					<div class="col-md-6 col-centered">
						<div class="control-group">
							<label class="control-label" for="prod_brand">Product Brand <span class="required_field">*</span></label>
							<input type="text" id="prod_brand" class="form-control"
								ng-model="modal_productBrand" required="required" value="prod.prodBrand">
						</div>
					</div>
					<div class="col-md-6 col-centered">
						<div class="control-group">
							<label class="control-label" for="prod_name">Product Type <span class="required_field">*</span></label> 
							<input type="text" id="prod_name" class="form-control" ng-model="modal_productName" required="required" value="prod.prodName">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-centered">
						<div class="control-group">
							<label class="control-label" for="prod_price">Price</label>
							<div class="input-group">
								<span class="input-group-addon">$</span>
								<input is-number="{{modal_productPrice}}" class="form-control" ng-model="modal_productPrice" value="prod.price"> 
								<span class="input-group-addon">.00</span>
							</div>
						</div>
					</div>
					<div class="col-md-6 pull-right">
						<div class="control-group">
							<label class="control-label" for="prod_currency">Currency</label>
							<select id="prod_currency" class="form-control" ng-model="modal_selectedCurrency" ng-options="currency.value as currency.label for currency in prodCurrencies">						
							</select>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-centered">
						<div class="control-group">
							<label class="control-label" for="prod_description">Description</label>
							<textarea id="prod_description" class="form-control" ng-model="modal_productDescription" cols="70" rows="3" required="required">{{prod.description}}</textarea>
						</div>
					</div>
				</div>	
				<div class="row">	
					<div class="col-md-4 pull-left">			
						<div class="control-group" style="margin-top: 10px">
							<div class="input-group">
								<span class="input-group-addon"> <input type="checkbox" ng-model="modal_productStock">
								</span> 
								<span class="form-control no-cursor">Stock</span>
							</div>
						</div>
					</div>
				</div>
			</fieldset>
		</form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
      <button ng-disabled="modalForm.$invalid" type="button" class="btn btn-primary" ng-click="ok()">Edit product</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->