textarea { resize:vertical; }

.input-small input { width: 100px !important }

.no-cursor input[disabled] { 
	cursor: default !important;
}

.btn-cursor {
	cursor: pointer;
}

.table-icon {
	margin: 0 9px 0 0;
	vertical-align:middle
}

.modal {
    display: block;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #FFF8DC;
}

/* ng-animation properties */

.animation.ng-enter,
.animation.ng-leave{
  -webkit-transition: 1s;
}

.animation.ng-enter {
  opacity: 0;
}

.animation.ng-leave {
  opacity: 1;
}

.animation.ng-enter.ng-enter-active {
  opacity: 1;
}

.animation.ng-leave.ng-leave-active {
  opacity: 0;
}