textarea { resize:vertical; }

.input-small input { width: 100px !important }

.no-cursor input[disabled] { 
	cursor: default !important;
}

.btn-cursor {
	cursor: pointer;
}

.table-icon {
	margin: 0 9px 0 0;
	vertical-align:middle
}

.modal {
    display: block;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #FFF8DC;
}