<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" ng-click="cancel()">&times;</button>
      <h4 class="modal-title">Modify a Product</h4>
    </div>
    <div class="modal-body">
		<form class="form-horizontal">
			<fieldset>			
				<!-- Row 1 -->
				<div class="col-md-12 col-centered">
					<div class="control-group">
						<label class="control-label" for="prod_brand">Product Brand</label>
						<input type="text" id="prod_brand" class="form-control"
							ng-model="model_productBrand" required="required" value="prod.prodBrand">
					</div>
					<div class="control-group">
						<label class="control-label" for="prod_name">Product Type</label> <input
							type="text" id="prod_name" class="form-control"
							ng-model="model_productName" required="required" value="prod.prodName">
					</div>
					<div class="control-group">
						<label class="control-label" for="prod_price">Price</label>
						<div class="input-group">
							<span class="input-group-addon">$</span> <input type="text"
								class="form-control" ng-model="model_productPrice" value="prod.price"> <span
								class="input-group-addon">.00</span>
						</div>
					</div>	
					<div class="control-group">
						<label class="control-label" for="prod_description">Description</label>
						<textarea id="prod_description" class="form-control" ng-model="model_productDescription" cols="70" rows="3">{{prod.description}}</textarea>
					</div>
					<div class="control-group" style="margin-top: 10px">
						<div class="input-group">
							<span class="input-group-addon"> <input type="checkbox" ng-model="model_productStock">
							</span> 
							<span class="form-control no-cursor">Stock</span>
						</div>
					</div>
				</div>
			</fieldset>
		</form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
      <button type="button" class="btn btn-primary" ng-click="ok(model_productBrand, model_productName, model_productDescription, model_productPrice, model_productStock)">Edit product</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->